body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
  border-style: solid;
  /* padding-bottom: 100px; */
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
}
